<ul id="page_parts" data-tabs="{closable: true, onRemove: page_part_tab_remove, addButton: page_part_tab_add}">
  <ul>
    <% builder.object.page_parts.each_with_index do |page_part, index| %>
      <li><%= link_to page_part.name, "#page_part_tab_#{index}" %></li>
    <% end %>
  </ul>
  <% builder.object.page_parts.each_with_index do |page_part, index| %>
    <li id="<%= "page_part_tab_#{index}" %>">
      <%= builder.fields_for :page_parts, page_part do |page_part_builder| %>
        <%= render :partial => 'page_part_builder', :object => page_part_builder %>
      <% end %>
    </li>
  <% end %>
</ul>
<div id="page_parts_marked_for_destroy">
</div>

<% new_page_part_tab_panel = capture do %>
  <%= builder.fields_for :page_parts, PagePart.new, :child_index => 'new_page_part_tab_panel_index' do |page_part_builder| %>
    <%= render :partial => 'page_part_builder', :object => page_part_builder %>
  <% end %>
<% end %>

<%= javascript_tag do %>
  var new_page_part_tab_panel = '<%= escape_javascript new_page_part_tab_panel.strip %>'
<% end %>
