<%= component_fields_for @record do |f| %>
  <ul id="<%= field.name %>" class="rui-tabs" data-tabs="{closable: true, scrollTabs: true, Cookie: {}, onSelect: page_part_tab_select, onRemove: page_part_tab_remove, addButton: page_part_tab_add}" data-new-panel="<%= (localized? ? render('page_part_locales', :form => f, :page_parts => {}, :index => 'new_tab_panel_index') : render('page_part', :form => f, :page_part => PagePart.new, :child_index => 'new_tab_panel_index')).gsub(/\n/, '').strip %>" data-new-panel-variable="new_tab_panel_index">
    <ul class="rui-tabs-list">
      <% @record.send(localized? ? "#{field.name}_translations" : field.name).each_with_index do |page_part, index| %>
        <% page_part = page_part.values.first if localized? %>
        <li class="rui-tabs-tab">
          <%= link_to "#page_part_tab_#{index}" do %>
            <%= page_part.name %>
            <% if page_part.errors[:name].present? %>
              <span class="field_error">
                <%= page_part.errors[:name].first %>
              </span>
            <% end %>
          <% end %>
        </li>
      <% end %>
    </ul>
    <% @record.send(localized? ? "#{field.name}_translations" : field.name).each_with_index do |page_part, index| -%>
      <li id="<%= "page_part_tab_#{index}" %>" class="rui-tabs-panel" data-name="<%= localized? ? page_part.values.first.name : page_part.name %>">
        <% if localized? %>
          <%= render 'page_part_locales', :form => f, :page_parts => page_part, :index => index, :child_index => nil %>
        <% else %>
          <%= render 'page_part', :form => f, :page_part => page_part, :child_index => nil %>
        <% end %>
      </li>
    <% end -%>
  </ul>
<% end %>
